@font-face {
	font-family: ubuntu;
	src: url(UbuntuMono-R.ttf);
}

body {
	background-color: #232729;
	font-family: ubuntu;
}

p {
	font-weight: 100;
	font-size: 18px;
	color: #eeeeec;
}

a {
	font-weight: 100;
	font-size: 18px;
	color: #eeeeec;
}

.name {
	color: #2587dd;
	font-weight: 700;
}

.directory {
	color: #92c5f1;
	font-weight: 700;
}

.links-list {
	display:inline-block;
	width: 100px;
}

.projects-list {
	display:inline-block;
	width: 180px;
}

.cursor{
    animation:blinking 1s infinite;
}
@keyframes blinking {
    0%		{color: #eeeeec;}
    50%		{color: #eeeeec;}
    50.01% 	{color: transparent;}
    100%	{color: transparent;}
}

/* light purple ac80ff */
/* teal 0e989d */
/* cyan 93d5b8 */

/* green pattern: teal and cyan */